.options {
  padding: 20px 10px;
}

// 添加数据
.add-source-modal {
  width: 600px !important;
}


// 数据详情
.source-Detail {
  .source-opeate-btn {
    padding: 20px 10px;
  }
  .source-code {
    height: 800px;
  }
}
