.image {
  &-options {
    padding: 20px 10px;
    .option-buttons {
      margin: 0 5px;
    }
  }

  &-file {
    cursor: pointer;
    .image-file-icon {
      height: 36px;
      padding: 0 10px;
    }
    .image-file-name {
      color: #424e67;
    }
  }

  &-navigation {
    padding: 10px 5px;
    &-item {
      cursor: pointer;
    }
    &-root {
      font-weight: 500;
    }
  }
}
